@model IEnumerable<GESTRF.Models.Chamado>
@{
    ViewData["Title"] = "Cahamdo";
    ViewData["TitlePage"] = "Chamado";
}



<!-- /.card-header -->
<div class="card-body">
    <table id="Table1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Assunto</th>
                <th>T&eacutecnico</th>
                <th>Data</th>
                <th>Ultima Altera&ccedil&atildeo</th>
                <th>Status</th>
            </tr>
        </thead>


        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Assunto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Setor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tecnico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataCri)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Alteracao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                </tr>
            }
        </tbody>
        @*
        <tbody>
        <tr>
        <td>Trident</td>
        <td>
        Internet
        Explorer 4.0
        </td>
        <td>Win 95+</td>
        <td> 4</td>
        <td>X</td>
        </tr>
        <tr>
        <td>Trident</td>
        <td>
        Internet
        Explorer 5.0
        </td>
        <td>Win 95+</td>
        <td>5</td>
        <td>C</td>
        </tr>
        </tbody>
        *@
    </table>
</div>