@model IEnumerable<GESTRF.Models.Chamado>
@{
    ViewData["Title"] = "Cahamdo";
    ViewData["TitlePage"] = "Chamado";
}



<!-- /.card-header -->
<div class="card-body">
    <table id="Table1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Assunto</th>
                <th>Setor</th>
                <th>T&eacutecnico</th>
                <th>Data</th>
                <th>Ultima Altera&ccedil&atildeo</th>
                <th>Status</th>
                <th>Ajustes</th>

            </tr>
        </thead>


        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Assunto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Setor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tecnico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataCri)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Alteracao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @*<a asp-action="Edit" asp-route-id="@item.ChamadoId"*@ <button type="button" class="btn btn-default btn-sm" data-container="body" title="Editar">
                            <i class="fas fa-edit"></i>
                        </button>
                        @*</a>*@
                        @*<a asp-action="Details" asp-route-id="@item.ChamadoId"*@ <button type="button" class="btn btn-default btn-sm" data-container="body" title="Detalhar">
                            <i class="fas fa-info"></i>
                        </button>
                        @*</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>