@model GESTRF.Models.Usuario
@{
    ViewData["Title"] = "Edit";
    ViewData["TitlePage"] = "Editar";
}
<form asp-controller="Usuario" asp-action="Edit" enctype="multipart/form-data" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <input name="Nome" type="text" value="@Html.DisplayFor(modelItem => modelItem.Nome)" class="form-control" required autofocus>
                </div>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-at"></i></span>
                    <input name="Username" type="text" value="@Html.DisplayFor(modelItem => modelItem.Username)" class="form-control" placeholder="Username" required autofocus>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    <input name="Senha" type="password" value="@Html.DisplayFor(modelItem => modelItem.Senha)" class="form-control" placeholder="Senha" required autofocus>
                </div>
            </div>

            <!-- /.form-group -->
            <div class="form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    <input name="Email" type="text" value="@Html.DisplayFor(modelItem => modelItem.Email)" class="form-control" placeholder="Email" required autofocus>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user-cog"></i></span>
                    <select name="Perfil" class="form-control select2" style="width: 100%;" required autofocus>
                        <option selected="selected">@Html.DisplayFor(modelItem => modelItem.Perfil)</option>
                        <option>User</option>
                        <option>Admin</option>
                    </select>
                </div>
            </div>

            
        </div>
        <!-- /.col -->
        <div class="col-md-6">
            <div class="form-group">
                <div class="text-center">
                    <img class="user-image img-circle elevation-2"
                         src="@ViewBag.ImageDataUrl"
                         width="100"
                         height="92"
                         alt="User profile picture">
                </div>
            </div>
            <div class="form-group">
                <div class="custom-file">
                    <input name="Foto" type="file" class="custom-file-input" id="exampleInputFile">
                    <label class="custom-file-label" for="exampleInputFile">Escolha a Imagem</label>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-2">
                    <button type="submit" class="btn btn-block btn-success">Salvar </button>
                </div>
            </div>

            <div class="form-group">
                <a asp-action="Index" type="button" class="btn btn-block btn-secondary "><i class="fa-solid fa-circle-left"></i> Voltar </a>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</form>
