@model IEnumerable<GESTRF.Models.Usuario>
@{
    ViewData["Title"] = "Index";
    ViewData["TitlePage"] = "Usuário";
}
<form asp-action="Index" method="get">
    <!-- /.card-header -->
    <div class="card-body">
        <table id="Table1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsuarioId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.UsuarioId" button type="button" class="btn btn-default btn-sm" data-container="body" title="Editar">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.UsuarioId" button type="button" class="btn btn-default btn-sm" data-container="body" title="Detalhar">
                                <i class="fas fa-info"></i>
                            </a>
                            <button type="button" class="btn btn-default btn-sm" data-container="body" title="Excluir">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-1">
        <a asp-action="Create" type="button" title="Adicionar Usuário" class="btn btn-block btn-success">
            <i class="fas fa-user-plus"></i>
        </a>
    </div>
</form>